{% extends 'magasin/base.html' %}
{% block title %} Accueil {% endblock title %}
{% block content %}
<!-- body -->
<div class="container-fluid mt-3">
  <div class="row">
    <!-- all products -->
    <div id='products' class="col-lg-9 mx-auto">
      <div class="row mx-auto">
        <!-- Products est une clé du dictionnaire context rendu par la vue 'index' -->
        {% for product in products %}
        <div id={{product.id}} style="width: 18rem;">
          <img src="/media/{{product.img}}" style="width: 200px; height: 200px;">
          <div>
            <p>{{product.libelle}}</p>
            <p><b>{{product.description}}</b></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- lien vers le blog -->
    <div class="col-lg-3">
      <div class="card">
        <img src="/media/blog-image.jpg" class="card-img-top" alt="Blog Image">
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">Découvrez nos dernières publications sur notre blog.</p>
          <a href="#" class="btn btn-primary">Aller au Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}